modules = ["python-3.12", "web"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "gitFull", "lcms2", "libGL", "libGLU", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "playwright-driver", "portaudio", "rustc", "scrot", "tcl", "tk", "xvfb-run", "zlib"]

[agent]
expertMode = true

[[ports]]
localPort = 8001
externalPort = 80

[[ports]]
localPort = 8002
externalPort = 3000
